h2,
h3 {
  color: rgb(213, 216, 243);
  font-weight: bold;
}

h5,
p.bioParagraph {
  color: rgb(247, 173, 173);
}

h6,
ul {
  color: rgb(225, 252, 225);
  font-style: italic;
}

.skill-icon {
  margin: 3rem;
  color: rgb(225, 252, 225);
}

.section {
  background-color: lightgray;
}

#main-box,
#body-box,
#projects-box,
#bio-box,
#skills-box,
#resume-box,
#contact-box {
  background-color: rgb(29, 34, 49);
  margin-bottom: 3rem;
  margin-top: 3rem;
  opacity: 0.8;
}



#background-img {
  background-image: url("../images/mainSky.jpg");
  background-size: 100%;
  padding-bottom: 30vh;
  /* background-repeat: no-repeat; */
}
