.backBox {
  padding: 2vmax;
  /* background-color: lightgray; */
  border-radius: 2px;
}

.skillicon {
  color: #fcf6e5;
}

.skilllabel {
  color: #90a5ce;
}

/* motion */

.react-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}